<div class="jumbotron">
   <h1>The Forum</h1>
   <p>The Forum is a resource for sharing links with your friends!</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Solves world hunger</h2>
     <p>Find ways you can donate food and volunteer to help the hungry.</p>
   </div>
   <div class="col-md-4">
     <h2>Looks after the environment</h2>
     <p>Find like minded people who want to help their local environment from planting a tree to carpooling. </p>
   </div>
   <div class="col-md-4">
     <h2>Makes you better looking</h2>
     <p>Ever wonder how to eat better or learn that makeup secret you've been after. Someone here definitely does.</p>
   </div>
 </div>
